<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sevimli_dostlar2">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sevimli_Dostlar2">
        <activity
            android:name=".Sahiplenme"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Saldirgan"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".OluHayvan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AsiTalebi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AsiGirme"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Listeleme"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tanimlama"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>